body {
  display: flex;
  justify-content: center;
}

#container{
  display: flex;
  justify-content: center;
  background-color: pink;
  height: 300px;
  width: 300px; 
}

#calculator {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: solid black;
}

#numbers{
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}

.digit {
  border: solid black;
  flex: 1 1 30%;
  cursor: pointer;
}

#button {
  background-color: purple;
  color: white;
  cursor: pointer;
}

#display {
  border: solid black;
  width: 250px;
  height: 35px;
  margin: 5px;
}

#operators {
  align-self: center;
}

#operator-button{
  cursor: pointer;
}
