body {
  display: flex;
  justify-content: center;
  background-color: pink;
}

#container{
  display: flex;
  justify-content: center;
  background-color: rgb(150, 220, 300);
  border-radius: 15px;
  height: 300px;
  width: 300px;
}

#calculator {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: solid black;
  border-radius: 15px;
}

#numbers{
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  gap: 3px;
  margin-right: 3px;
  margin-left: 3px;
}

.digit {
  border: solid black;
  flex: 1 1 30%;
  cursor: pointer;
  border-radius: 5px;
  font-size: 25px;
}

#clear-button {
  background-color: purple;
  color: white;
  cursor: pointer;
  font-size: 25px;
  border-radius: 5px;
}

#display {
  display:flex;
  flex-direction: column;
  align-items: flex-end;
  border: solid black;
  width: 275px;
  height: 45px;
  margin: 5px;
  font-size: 25px;
  border-radius: 5px;
  background-color: white;
}

#display-items{
  flex: 1 1 0;
  margin-right: 5px;
  margin-top: 6px;
}

#operators {
  display: flex;
  gap: 5px;
  align-self: center;
  margin-bottom: 5px;
}

.operator-button{
  cursor: pointer;
  border-radius: 5px;
  font-size: 25px;
  height: 30px;
  width: 30px;
}
